body    {
    background-image: url("../images/sloth.jpeg");
}

.container  {
    background-color: rgb(218, 218, 12);
    height: 550px;
    width: 700px;
    margin-top: 120px;
    border: solid 2px black;
}

#title  {
    text-align: center;
    padding-top: 70px;
}

#title-text {
    font-size: 70px;
    font-weight: bold;
    font-family: fantasy;
    color: rgb(36, 107, 36);
}

#start   {
    padding-top: 100px;
}

#start-button   {
    margin-left: 235px;
    background-color: red;
    width: 200px;
    height: 75px;
    border: solid black 3px;
    font-size: 35px;

}

#title-2    {
    padding-top: 30px; 
    padding-bottom: 16px;
    text-align: center;
}

#time-remaining {
    text-align: center;
    font-size:  30px;
    font-weight: bold;
    color: rgb(194, 4, 4);
}

#title-text-2 {
    font-size: 60px;
    font-weight: bold;
    font-family: fantasy;
    color: rgb(36, 107, 36);
}

h4  {
    text-align: center;
    font-size: 25px;
    padding-top: 35px;
}

#foot   {
    padding-left: 150px;
}

#abdomin    {
    padding-left: 73px;
}

#head   {
    padding-left: 25px;
}

#two-days {
    padding-left: 149px;
}

#two-weeks  {
    padding-left: 73px;
}

#two-months {
    padding-left: 25px;
}

#penguin {
    padding-left: 97px;
}

#water  {
    padding-left: 73px;
}

#dry-ice {
    padding-left: 25px;
}

#done   {
    padding-top: 20px;
    color:  rgb(194, 4, 4);
    font-weight: bold;
    font-size: 30px; 
    text-decoration: underline;
    padding-left: 295px;
}

#done-link  {
    padding-top: 15px;
}

#done-title {
    padding-top: 30px;
}

#all-done   {
    text-align: center;
    font-weight: bold;
    color: rgba(190, 76, 10, 0.808);
}

#correct    {
    padding-top: 30px;
}

#incorrect  {
    padding-top: 15px;
}

#unanswered {
    padding-top: 15px;
}

#correct-answers    {
    padding-left: 202px;
}

#incorrect-answers  {
    padding-left: 184px;
}

#unanswered-questions   {
    padding-left: 252px;
}